@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Moon+Dance&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Vibur&display=swap');
@import "tailwindcss";

@theme{
  --font-moonDance: "Roboto", sans-serif;
 
  
}
@layer components {
  .bgBtn{
    @apply bg-[#090e34] text-white font-semibold py-1 lg:py-2.5 text-[18px] px-5 lg:px-10 hover:shadow-lg cursor-pointer hover:rotate-3 transition-all duration-100
  }
  .noBgBtn{
    @apply bg-transparent text-[#88888b] font-semibold py-1 lg:py-2.5 text-[18px] px-1 lg:px-2 cursor-pointer
  }
  .text-Nav{
  
    @apply text-[#282828fb] 
  }
  .my-container{
    @apply w-[80%] mx-auto 
  }
  #home{
    background: url("public/shape.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  html{
    scroll-behavior: smooth;
  }
}